.project[data-astro-cid-sv5liydy] {
    background-color: var(--dark);
    border-radius: .5rem;
    box-shadow: var(--shadow);
    display: flex;
    overflow: hidden;
    transition-duration: var(--transitionDuration);
    transition-property: box-shadow, background-color, transform;
    transition-timing-function: ease;
    width: 100%
}

.project[data-astro-cid-sv5liydy]:nth-child(odd) {
    flex-direction: row-reverse
}

.project[data-astro-cid-sv5liydy]:hover {
    box-shadow: var(--shadowLifted);
    transform: scale(1.01)
}

.description[data-astro-cid-sv5liydy] {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    inset: 0 20% 0 -20%;
    opacity: 0;
    padding: var(--gutter);
    padding-top: 1rem;
    position: absolute;
    transition-duration: var(--transitionDuration);
    transition-property: left, right, opacity;
    transition-timing-function: ease;
    margin: 0;
}

.description-title[data-astro-cid-sv5liydy] {
    font-family: Space Mono, monospace;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: .5rem;
}


.description-line[data-astro-cid-sv5liydy] {
    font-size: 15px;
    line-height: 1.7;
}

.description[data-astro-cid-sv5liydy] .description-line[data-astro-cid-sv5liydy]:not(:last-child) {
    margin-bottom: .5rem
}

.project[data-astro-cid-sv5liydy]:nth-child(2n) .description[data-astro-cid-sv5liydy] {
    left: 20%;
    right: -20%
}

.project[data-astro-cid-sv5liydy].lel .description[data-astro-cid-sv5liydy],
.project[data-astro-cid-sv5liydy]:focus-within .description[data-astro-cid-sv5liydy],
.project[data-astro-cid-sv5liydy]:hover .description[data-astro-cid-sv5liydy] {
    left: 0;
    opacity: 1;
    right: 0
}


.image-wrapper[data-astro-cid-sv5liydy] {
    display: flex;
    flex: 7;
    overflow: hidden;
    position: relative
}

img[data-astro-cid-sv5liydy] {
    -o-object-fit: contain;
    object-fit: contain;
    transition: all var(--transitionDuration) ease;
    width: 100%
}

.cover{
    -o-object-fit: cover !important;
    object-fit: cover !important;
    width: 100%;
    height: 100%;
}

.project[data-astro-cid-sv5liydy]:nth-child(odd) img[data-astro-cid-sv5liydy] {
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem
}

.project[data-astro-cid-sv5liydy]:nth-child(2n) img[data-astro-cid-sv5liydy] {
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem
}

.project[data-astro-cid-sv5liydy]:focus-within img[data-astro-cid-sv5liydy],
.project[data-astro-cid-sv5liydy]:hover img[data-astro-cid-sv5liydy] {
    opacity: .3
}

.card-data[data-astro-cid-sv5liydy] {
    align-items: var(--orientation);
    background-color: var(--dark);
    display: flex;
    flex: 4;
    flex-direction: column;
    padding: var(--gutter);
    padding-top: .75rem;
    transition-duration: var(--transitionDuration);
    transition-property: background-color, box-shadow;
    transition-timing-function: ease;
    z-index: 2
}

.project[data-astro-cid-sv5liydy]:hover .card-data[data-astro-cid-sv5liydy] {
    box-shadow: none
}

.title[data-astro-cid-sv5liydy] {
    font-family: Space Mono, monospace;
    font-size: 16px;
    margin: 0;
}

.short-description[data-astro-cid-sv5liydy] {
    font-family: poppins, sans-serif;
    font-size: 25px;
    line-height: 1.4;
    font-style: bold;
    font-weight: 600;
}


.tag-list[data-astro-cid-sv5liydy] {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 1ch
}

.tag-block[data-astro-cid-sv5liydy] {
    background-color: var(--darkLighter);
    border-radius: 5px;
    display: inline-block;
    font-family: Space Mono, monospace;
    font-weight: 700;
    padding: .25rem 1rem;
    transition: background-color var(--transitionDuration) ease
}

.button-wrapper[data-astro-cid-sv5liydy] {
    display: flex;
    gap: 1rem;
    margin-top: .75rem;
}

.link-content[data-astro-cid-sv5liydy] {
    display: flex;
    gap: 1ch;
    text-decoration: none
}

@media screen and (max-width:1000px) {

    .project[data-astro-cid-sv5liydy]:nth-child(2n),
    .project[data-astro-cid-sv5liydy]:nth-child(odd) {
        flex-direction: column-reverse
    }

    .image-wrapper[data-astro-cid-sv5liydy] {
        flex-direction: column
    }

    .card-data[data-astro-cid-sv5liydy] {
        box-shadow: none
    }

    .description[data-astro-cid-sv5liydy] {
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        opacity: 1;
        position: static
    }

    .project[data-astro-cid-sv5liydy]:focus-within img[data-astro-cid-sv5liydy],
    .project[data-astro-cid-sv5liydy]:hover img[data-astro-cid-sv5liydy] {
        opacity: 1
    }

    .project[data-astro-cid-sv5liydy]:nth-child(2n) img[data-astro-cid-sv5liydy],
    .project[data-astro-cid-sv5liydy]:nth-child(odd) img[data-astro-cid-sv5liydy] {
        border-radius: 0
    }
}

svg[data-astro-cid-nwk3hc3g] {
    height: 1em;
    width: 1em
}

button[data-astro-cid-7mc3ftep] {
    background-color: rgba(var(--accentRgb), .8);
    border: none;
    border-radius: 4px;
    color: var(--dark);
    cursor: pointer;
    font-family: Space Mono, monospace;
    font-weight: 700;
    line-height: 1em;
    padding: .75em 1.25em;
    transform: translateX(0);
    transition: all var(--transitionDuration) ease
}

button[data-astro-cid-7mc3ftep].large {
    font-size: 1.5rem
}

button[data-astro-cid-7mc3ftep].small {
    font-size: 1.15rem
}

button[data-astro-cid-7mc3ftep]:focus-visible,
button[data-astro-cid-7mc3ftep]:hover {
    background-color: rgba(var(--accentRgb), .9);
    box-shadow: var(--shadowLifted);
    transform: translateX(.1em)
}

button[data-astro-cid-7mc3ftep]:focus-visible {
    outline: 1px solid rgba(var(--accentRgb), 1);
    outline-offset: 2px
}

button[data-astro-cid-7mc3ftep]:active {
    background-color: var(--accent);
    box-shadow: var(--shadow);
    transform: translateY(0)
}

@media screen and (max-width:767px) {
    .wrapper[data-astro-cid-hiiiy2g5] {
        flex-wrap: wrap
    }
    :root {
        --gutter: 1rem
    }
}

:root {
    --orientation: flex-start;
    --transitionDuration: .3s;
    --maxWidth: 1200px;
    --gutter: 2rem;
    --dark: #181a1b;
    --darkLighter: #242424;
    --accent: #67fd67;
    --accentRgb: 0, 163, 217;
    --shadowColor: rgba(0, 0, 0, .5);
    --shadow: 0 0 10px var(--shadowColor);
    --shadowLifted: 0 0 15px var(--shadowColor)
}